<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<!-- Always force latest IE rendering engine or request Chrome Frame -->
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

	<!-- Use title if it's in the page YAML frontmatter -->
	<title><%= current_page.data.title || "stagemonitor" %></title>

	<%= stylesheet_link_tag "all", "lightbox" %>
	<link rel="shortcut icon" href="favicon.png" />

	<!-- Mobile Specific Metas
	   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="keywords" content="open source application performance monitoring java web server application garbage collection throughput ehcache logging kibana grafana graphite response time dashboard metrics session sql query">
	<meta name="description" content="stagemonitor - an open source solution to application performance monitoring for java server applications">
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-53233933-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body class="<%= page_classes %>">

<!-- Header
   ================================================== -->
<header>

	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid" id="navfluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a id="logo" class="navbar-brand smoothscroll" href="#hero"><img alt="stagemonitor" width="30px" src="images/logo.png"></a>
			</div>

			<div class="collapse navbar-collapse" id="navigationbar">
				<ul class="nav navbar-nav">
					<li><a class="smoothscroll" href="#overview"><%= I18n.t(:"section-features") %></a></li>
					<li><a href="https://github.com/stagemonitor/stagemonitor/wiki"><%= I18n.t(:"section-documentation") %></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right header-social">
          <li class="dropdown">
            <a href="#" id="languages" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-globe"></i><span class="caret"></span></a>
            <ul class="dropdown-menu" styleClass="dropdown-menu-small" role="menu">
              <li><a id="de" href="/de" class="language"> <img src="images/germany-flag-square-icon-64.png" class="icon-small">&nbsp;&nbsp;Deutsch</a></li>
              <li><a id="en" href="/" class="language"> <img src="images/united-kingdom-flag-square-icon-64.png" class="icon-small">&nbsp;&nbsp;English</a></li>
            </ul>
          </li>
					<li>
						<iframe allowtransparency="true" class="github-btn" frameborder="false" height="20" scrolling="0" src="http://ghbtns.com/github-btn.html?user=stagemonitor&repo=stagemonitor&type=watch&count=true&size=small" title="Star on GitHub" width="104"></iframe>
					</li>
					<li><a href="https://github.com/stagemonitor/stagemonitor"><i class="fa fa-github"></i></a></li>
					<li><a href="https://twitter.com/stagemonitor"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://github.com/stagemonitor/stagemonitor-mailinglist"><i class="fa fa-envelope"></i></a></li>
				</ul>
			</div>

		</div>
	</nav>
</header>
<!-- Header End -->
<%= yield %>

<!-- Footer
================================================== -->
<footer>
	<div class="container">

		<div class="row">

			<div class="col-lg-6">
				<div class="footer-logo">
					<a href="#">
						<img src="images/footer-logo2.png" alt="stagemonitor logo" class="img-responsive"/>
					</a>
				</div>
				<p><%= I18n.t(:"stagemonitor-slogan") %></p>
				<p class="copyright">
					&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>
					<a href="https://www.isys.de">iSYS Software GmbH</a> | Design by
					<a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a>
				</p>
			</div>

			<div class="col-lg-2 socialize">
				<i class="fa fa-users"></i>
				<h3 class="social"><%= I18n.t(:"footer-socialize") %></h3>
				<ul>
					<li><a href="https://github.com/stagemonitor/stagemonitor">GitHub</a></li>
					<li><a href="https://twitter.com/stagemonitor">Twitter</a></li>
					<li><a href="https://plus.google.com/+FelixB">GooglePlus</a></li>
					<li><a href="https://www.xing.com/profile/Felix_Barnsteiner">XING</a></li>
					<li><a href="https://github.com/stagemonitor/stagemonitor-mailinglist"><%= I18n.t(:"footer-mailing-list") %></a></li>
				</ul>
			</div>
			<div class="col-lg-3 socialize">
				<i class="fa fa-envelope"></i>
				<h3 class="contact"><%= I18n.t(:"footer-contact-us") %></h3>
				<ul>
					<li><a href="mailto:felix.barnsteiner@isys.de">felix.barnsteiner@isys.de</a></li>
				</ul>
			</div>



			<div id="go-top">
				<a class="smoothscroll" title="Back to Top" href="#hero"><i class="fa fa-angle-up fa-4x"></i></a>
			</div>

		</div>
	</div>

</footer>
<%= javascript_include_tag "all" %>
</body>
</html>
